<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    {% if page.title and page.url != "/" %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
    <title>{{ site.title | default: "GOV.UK" }}</title>
    {% endif %}

    <link rel="stylesheet" media="screen" href="{{ "/assets/main.css" | relative_url }}"/>

    <link rel="stylesheet" media="screen" href="{{ "/assets/govuk-frontend-5.4.0.css" | relative_url }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <body>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    {% include header.html %}

    <div id="global-header-bar"></div>

    {{ content }}

    * Interaction design and service design
    * [What interaction designers and service designers do](/design.md)
    * [Defra Design community](/community.md)
    * [Tools and resources](/tools-and-resources.md)
    * [Defra design standards](https://github.com/DEFRA/design-standards)
    * [Specialist Publisher](/specialist-publisher.md)
    * [Accessibility acceptance criteria](/accessibility-acceptance-criteria.md)
    * [Design crits](/design-crits.md)
    * [Case studies](/case-studies.md)

    {% include footer.html %}

  </body>
</html>
