<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    {% if page.title and page.url != "/" %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
    <title>{{ site.title | default: "GOV.UK" }}</title>
    {% endif %}

    <link rel="stylesheet" media="screen" href="{{ "/assets/main.css" | relative_url }}"/>

    <link rel="stylesheet" media="screen" href="{{ "/assets/govuk-frontend-5.4.0.css" | relative_url }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <body>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    {% include header.html %}

    <div id="global-header-bar"></div>

    <div id="layout">

    <div id="content-main">
      
    {{ content }}

    </div>

    <nav id="main-nav">
      
    <ul>
      <li><a href="/design/">Interaction design and service design</a></li>
      <li><a href="/design/community.html">Defra Design community</a></li>
      <li><a href="/design/tools-and-resources.html">Tools and resources</a></li>
      <li><a href="https://github.com/DEFRA/design-standards">Defra design standards</a></li>
      <li><a href="/design/specialist-publisher.html">Specialist Publisher</a></li>
      <li><a href="/design/accessibility-acceptance-criteria.html">Accessibility acceptance criteria</a></li>
      <li><a href="/design/design-crits.html">Design crits</a></li>
      <li><a href="/design/case-studies.html">Case studies</a></li>
    </ul>

    </nav>

    </div>

    {% include footer.html %}

  </body>
</html>
